body{
  background-image: url('/images/bckgrnd.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.download{
  width: 25px;
  height: 25px;
}

.horror{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;

}

.yellowbtn:hover{
  color: #fc910a;
  background-color: #fc910a;
  border-color: #000000;
  text-decoration: none;}


.infoimage  {
    float: left;
    width: 400px;
    height: 175px;
    margin-right: 20px;
    border-radius: 8px;
}
.txt  {
    overflow: hidden;
    text-align: left;
    color: #ffffff;
}

.discord{
    color: rgb(146, 147, 235);
}

.card{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.hr {width: 750px;
margin-left: auto;
margin-right: auto;
}
.jumbotron{
  background-color: #00000000;
}

/* cards Button */
.button-4 {
  appearance: none;
  background-color: #ffe365;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
margin-left: 10px;}

.button-4:hover {
  background-color: #fc910a;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}


/* C O L O R S */
.orangetxt{
  color: #fc910a;
}
